
<footer>
  <div class="row">
    <div class="col-md-6">
      <p>PROGRAMA DE INDUCCIÓN</p>
    </div>
    <div class="col-md-6 text-right">
      <p>Alicorp 2017 © Todos los derechos reservados.</p>
    </div>
  </div>
</footer>