
<div class="ing_laboratorio" id="pilares">
  <div class="container">
    <div class="col-lg-12">
      <div class="ing_text">
        <div class="ing-carousel">
          <div class="owl-carousel owl-theme carousel-civil">
            <div class="item">
              <h4>El campo es <strong>nuestro laboratorio.</strong></h4>
              <hr/>
              <p>Asumimos el entorno como un área de trabajo fundamental para poner en práctica nuestro conocimiento y aplicar los valores de una ingeniería sostenible.</p>
            </div>
            <div class="item">
              <h4>El campo es <strong>nuestro laboratorio.</strong></h4>
              <hr/>
              <p>Asumimos el entorno como un área de trabajo fundamental para poner en práctica nuestro conocimiento y aplicar los valores de una ingeniería sostenible.</p>
            </div>
            <div class="item">
              <h4>El campo es <strong>nuestro laboratorio.</strong></h4>
              <hr/>
              <p>Asumimos el entorno como un área de trabajo fundamental para poner en práctica nuestro conocimiento y aplicar los valores de una ingeniería sostenible.</p>
            </div>
            <div class="item">
              <h4>El campo es <strong>nuestro laboratorio.</strong></h4>
              <hr/>
              <p>Asumimos el entorno como un área de trabajo fundamental para poner en práctica nuestro conocimiento y aplicar los valores de una ingeniería sostenible.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="circle">
        <ul>
          <li>
            <div class="c-select"></div>
          </li>
          <li>
            <div class="c-select"></div>
          </li>
          <li>
            <div class="c-select"></div>
          </li>
          <li>
            <div class="c-select"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>