//colors
$black: #000000 !default;
$white: #ffffff !default;
$red: #E31F26 !default;
$green:#7FC241 !default;
$yellow: #F39C1E !default;
$gris: #5D5D5D !default;
$crema: #F7EED2 !default;


//fonts
$base-font-family:'Gotham-Book', sans-serif;
$gotham: $base-font-family;
$base-font-size: 18px !default;
$base-font-weight: 300 !default;

$base-light: 'Gotham-Light';
$base-medium: 'Gotham-Medium';
$base-bold: 'Gotham-Bold';
$base-normal: 'Gotham-Book';
//misc
$gutter-bootstrap: 15px !default;
$link-color: #847931 !default;
$link-hover-color: darken( #847931, 10% ) !default;

//sizes
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: 479px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
$screen-xxs-max: 375px;
