body,
html {
  height: 100%;
}

h1, h2, h3, h4, h5, p {
    margin: 0px;
}
strong{
    font-family: $base-bold;
}

.container-wrapper {
    display: table;
    margin: 0 auto;
    height: 100%;
}

.align-container{
    display: table-cell;
    vertical-align: middle;
}

.container{
    padding: 0;
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 15px;
    border: 1px solid #E0E0E0;
    position: relative;
}
.content-general-shadow{
    width: 930px;
    height: 498px;
    margin: 20px auto 0px;
    border-radius: 5px; 
    -webkit-box-shadow: 1px 2px 23px 1px rgba(199,199,199,1);
    -moz-box-shadow: 1px 2px 23px 1px rgba(199,199,199,1);
    box-shadow: 1px 2px 23px 1px rgba(199,199,199,1);
}
.content-general{
    width: 930px;
    height: 498px;
    margin: 20px auto 0px;
    border: 1px solid black;
}

.content-mapa-y{
    width: 930px;
    height: 293px;
    border: 1px solid red;
    border-radius: 5px;
    white-space: nowrap;
    overflow-x: visible;
    overflow-y: hidden;
    cursor: pointer;
}
/*
    -webkit-box-shadow: 1px 4px 23px 6px rgba(199,199,199,1);
    -moz-box-shadow: 1px 4px 23px 6px rgba(199,199,199,1);
    box-shadow: 1px 4px 23px 6px rgba(199,199,199,1);
*/

.button-g{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    font-family: $base-medium;
    background: $red;
    color: white;
    padding: 5px;
    border-color: transparent;
    line-height: 40px;
    margin-right: 12px;
    &:hover,
    &:focus {
        background: darken($red, 10%);
        border-color: transparent;
        outline: 0;
        transition: all .5s;
        color: white;

        &:active {
            background: darken($red, 10%);
            border-color: transparent;
            color: white;
        }
    }

    &:active {
        background: darken($crema, 10%);
        border-color: transparent;
    }
}


footer{
    padding: 7px 0px;
    p{
        font-size: 9px;
        font-weight: bold;
        color: #5D5D5D;
        font-family: $base-normal;
    }
}
.bg-red{
    background: $red;
    border: 1px solid transparent !important;
}
.bg-green{
    background: $green;
    border: 1px solid transparent !important;
}
.bg-yellow{
    background: $yellow;
    border: 1px solid transparent !important;
}
.c-red{
    color: $red !important;
}
.c-green{
    color: $green;
}
.c-yellow{
    color: $yellow;
}
.c-orange{
    color: #f9931f !important;
}
.c-plomo{
    color: #666666 !important;
}


/* estilos extras*/
.pd-0{
    padding: 0;
}
.pdr-0{
    padding-right: 0;
}
.pdl-0{
    padding-left: 0;
}
.img-center{
    display: block;
    margin: 0 auto;
    padding: 45px 0px ;
}

.occult {
    opacity: 0;
}

.active-r{
    background: $red;
    border-radius: 5px 0px 0px 5px;
    a{
        color: white !important;
    }
}
.activee{
    background: $red;
    a{
        color: white !important;
    }
}