.menu
    .row
        .col-md-2
            a.box-logo(href="index.html")
                img(src="img/iconos/logo.png", alt="")
        .col-md-10
            ul.list-inline#menu-principal

                li
                    a(href="introduccion.html") INTRODUCCIÓN
                li
                    a.c-red.menu--active(href="conociendo.html") CONOCIENDO ALICORP
                li
                    a(href="negocios.html") NUESTROS NEGOCIOS
                li.pad-r
                    a.ico-menu(href="gente.html") NUESTRA GENTE


            #sub-menu
              .container-fluid
                ul.list-inline
                    li
                        a(href='') ¿Quiénes Somos?
                    li
                        a(href='') Historia
                    li
                        a(href='') Cultura
                    li
                        a(href='') Las Áreas
                    li
                        a(href='') Marcas
                    li
                        a(href='') Reconocimiento
                    li
                        a(href='') Autoevaluación
