/* bg-feedback*/
.bg-resumen{
    background: url("../img/bg/resumen.jpg");
}
.bg-ejercicios{
    background: url("../img/bg/ejercicios.jpg");
}
.bg-frase{
    background: url("../img/bg/bg-frase.jpg");
}
.bg-reflexion{
    background: url("../img/bg/reflexion.jpg");
}
.bg-taller{
    background: url("../img/bg/bg-taller.jpg");
}
.bg-feedback{
    background: url("../img/bg/bg-proyecto-feedback.jpg");
}
.bg-intro{
    background: url("../img/bg/bg-feedback.jpg");
}
.bg-despues{
    background: url("../img/bg/bg-despues.jpg");
}
.bg-durante{
    background: url("../img/bg/bg-durante.jpg");
}

/**   feedback    */
.bg-fondo{
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
}


.footer{
    font-size: 8px;
    color: white;
    position: absolute;
    bottom: 3px;
    right: 40px;
}
