.bg-home{
    background: url("../img/bg/bd-1.jpg");
}
.content-home{
    max-width: 486px;
    margin: 246px auto 0px;
    p{
        color: $white;
        font-size: 64px;
        line-height: 62px;
        font-family: $base-light;
        padding-bottom: 36px;
        span{
            font-family: $base-bold;
        }
    }
    .button-red{
        margin: 0px auto; 
        display: table;
    }
}

.button-red{
    letter-spacing: 1.1px;
    font-size: 16px;
    font-family: $base-medium;
    background: $red;
    padding: 10px 25px;
    border-radius: 15px;
    border-color: transparent;
    &:hover,
    &:focus {
        background: darken($red, 10%);
        border-color: transparent;
        outline: 0;
        transition: all .5s;

        &:active {
            background: darken($red, 10%);
            border-color: transparent;
        }
    }

    &:active {
        background: darken($red, 10%);
        border-color: transparent;
    }
}

.button-crema{
    letter-spacing: 1.1px;
    font-size: 16px;
    font-family: $base-medium;
    background: $crema;
    color: $gris;
    padding: 15px 15px;
    border-radius: 25px 0px;
    border-color: transparent;
    &:hover,
    &:focus {
        background: darken($crema, 10%);
        border-color: transparent;
        outline: 0;
        transition: all .5s;
        color: $gris;

        &:active {
            background: darken($crema, 10%);
            border-color: transparent;
        }
    }

    &:active {
        background: darken($crema, 10%);
        border-color: transparent;
    }
}