.titulo{
    font-size: 26px;
    font-family: $base-bold;
    color: $red;
    font-weight: 900;
}
.sub-titulo{
    font-size: 24px;
    font-family: $base-normal;
}

.texto{
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
}
h4{
    font-size: 12px;
    font-family: $base-normal;
}

.bg-introduccion{
	background: url("../img/bg/bg-interna.jpg");
	background-size: cover;
	width: 100%;
	height: 578px;
}

.row-btn{
    position: absolute;
    bottom: 7px;
    left: 413px;
}
