extends layout
block content
    .container-wrapper
        .align-container
            .container.bg-home
                .content-home
                    p Programa <br> <span> de Inducción</span>
                    a.btn.btn-primary.button-red(href='introduccion.html', role='button') COMENZAR
                        span.glyphicon.glyphicon-menu-right










