extends layout
block content
    .container-wrapper
        .align-container
            .container
                include inc/menu

                .nuestros-procesos
                    p.titulo Nuestro proceso de Compromisos para el Éxito<br> tiene 3 etapas:
                    .row
                        .col-md-4.col-xs-4.colum-1.occult
                            h4.sub-titulo.c-red Etapa 1
                            .recuadro-procesos.bg-red
                                p Planificación
                            p.texto Etapa en la cual <strong>definimos</strong><br> nuestros objetivos y/o de <br><strong>desarrollo de competencias</strong>
                        .col-md-4.col-xs-4.colum-2.occult
                            h4.sub-titulo.c-green Etapa 2
                            .recuadro-procesos.bg-green
                                p Revisión de Medio año
                            p.texto Es el <strong>momento formal<br> en el que revisamos el<br> progreso de nuestros objetivos<br> y el desarrollo de nuestras competencias,</strong> a través del feedback, para asegurar el éxito de nuestro desempeño para el<br> presente año.
                        .col-md-4.col-xs-4.colum-3.occult
                            h4.sub-titulo.c-yellow Etapa 3
                            .recuadro-procesos.bg-yellow
                                p Evaluación
                            p.texto Etapa en la cual <strong>revisamos, evaluamos y reconocemos</strong> el desempeño del colaborador contrastando lo realizado versus lo planificado.
                    .row-btn
                        a.btn.btn-primary.button-crema-g.btn-l(href='introduccion2.html', role='button')
                            span.glyphicon.glyphicon-menu-left
                            | ANTERIOR
                        a.btn.btn-primary.button-crema-g.btn-r(href='introduccion4.html', role='button')
                            | SIGUIENTE
                            span.glyphicon.glyphicon-menu-right

                include inc/footer

    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {
            TweenLite.to(".colum-1", 1, {opacity: 1, delay:1});
            TweenLite.from(".colum-1", 1, {scaleX:.4, scaleY:.4, delay:1, ease: "Back.easeOut"});

            TweenLite.to(".colum-2", 1, {opacity: 1, delay:1.5});
            TweenLite.from(".colum-2", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});

            TweenLite.to(".colum-3", 1, {opacity: 1, delay: 2.});
            TweenLite.from(".colum-3", 1, {scaleX:.4, scaleY:.4, delay:2., ease: "Back.easeOut"});



        }
