extends layout
block content
    .container-wrapper
        .align-container
            .container
                include inc/menu
                .content-general
                    .content-mapa-y
                        ul.list-inline#menu-principal

                            li
                                a(href="introduccion.html") INTRODUCCIÓN
                            li
                                a.c-red.menu--active(href="conociendo.html") CONOCIENDO ALICORP
                            li
                                a(href="negocios.html") NUESTROS NEGOCIOS
                            li.pad-r
                                a.ico-menu(href="gente.html") NUESTRA GENTE
                            li
                                a(href="negocios.html") NUESTROS NEGOCIOS
                            li.pad-r
                                a.ico-menu(href="gente.html") NUESTRA GENTE
                            li
                                a(href="negocios.html") NUESTROS NEGOCIOS
                            li.pad-r
                                a.ico-menu(href="gente.html") NUESTRA GENTE
                            li
                                a(href="negocios.html") NUESTROS NEGOCIOS
                            li.pad-r
                                a.ico-menu(href="gente.html") NUESTRA GENTE
                            li
                                a(href="negocios.html") NUESTROS NEGOCIOS
                            li.pad-r
                                a.ico-menu(href="gente.html") NUESTRA GENTE
                            li
                                a(href="negocios.html") NUESTROS NEGOCIOS
                            li.pad-r
                                a.ico-menu(href="gente.html") NUESTRA GENTE
                            li
                                a(href="negocios.html") NUESTROS NEGOCIOS
                            li.pad-r
                                a.ico-menu(href="gente.html") NUESTRA GENTE
                            li
                                a(href="negocios.html") NUESTROS NEGOCIOS
                            li.pad-r
                                a.ico-menu(href="gente.html") NUESTRA GENTE
                            li
                                a(href="negocios.html") NUESTROS NEGOCIOS
                            li.pad-r
                                a.ico-menu(href="gente.html") NUESTRA GENTE
                            li
                                a(href="negocios.html") NUESTROS NEGOCIOS
                            li.pad-r
                                a.ico-menu(href="gente.html") NUESTRA GENTE


                .row-btn
                    a.btn.btn-primary.button-g.btn-l(href='introduccion5.html', role='button')
                        span.icon-keyboard_arrow_left
                    a.btn.btn-primary.button-g.btn-r(href='feedback-taller1.html', role='button')
                        span.icon-keyboard_arrow_right

                include inc/footer

