extends layout
block content
    .container-wrapper
        .align-container
            .container
                include inc/menu
                .content-general-shadow


                .row-btn
                    a.btn.btn-primary.button-g.btn-l(href='introduccion5.html', role='button')
                        span.icon-keyboard_arrow_left
                    a.btn.btn-primary.button-g.btn-r(href='feedback-taller1.html', role='button')
                        span.icon-keyboard_arrow_right

                include inc/footer



    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {
            TweenLite.to(".recuadro-2", 1, {opacity: 1, delay:.5});
            TweenLite.from(".recuadro-2", 1, {y:"50px", delay:.5});

            TweenLite.to(".recuadro-1", 1, {opacity: 1, delay:.8});
            TweenLite.from(".recuadro-1", 1, {y:"50px", delay:.8});

            TweenLite.to(".recuadro-3", 1, {opacity: 1, delay: 1.1});
            TweenLite.from(".recuadro-3", 1, {y:"30px", delay: 1.1});

            TweenLite.to(".recuadro-4", 1, {opacity: 1, delay: 1.4});
            TweenLite.from(".recuadro-4", 1, {y:"20px", delay: 1.4});



        }/**/




