.menu{
	position: relative;
	background: $white;
    padding-top: 12px;
    .col-md-2{
        padding-right: 22px;
    }
    .col-md-10{
        padding: 0px;
        max-width: 775px;
    }
	#menu-principal{
		margin:0;
		li{
            padding:0px  55px 0px 0px;
			a{
				color: $gris;
				font-size: 14px;
				font-family: $base-bold;
                position: relative;
				&:hover{
					color: $gris;
				}
			}
            
		}
	}
    .menu--active {
        &:after {
          content: "";
          position: absolute;
          bottom: -20px;
          left: 50%;
          border-left: 100px;
          margin-left: -9px;
          z-index: 3;
          border-left: 16px solid transparent;
          border-right: 16px solid transparent;
          border-bottom: 13px solid #ECECEC;
         
        }
    }
}
.pad-r{
    padding-right: 0px !important;
}

#sub-menu{
    padding: 1.5px;
    width: 100%;
    margin-top: 10px;
    background: #ECECEC;
    border-radius: 5px;
    .container-fluid{
        padding: 0px;
    }
    ul{
        margin: 0;
    }
    li{
        padding: 6px 0px ;
        margin-right: 5px;
        position: relative;
        a{
            color: $gris ;
            font-size: 13px ;
            font-family: $base-medium;
            padding: 0px 8px 0px 12px ;
        }
    }
    .menu__active {
        &:after {
            content: "";
            position: absolute;
            top: 0px;
            right: -12px;
            border-left: 100px;
            margin-left: -9px;
            z-index: 3;
            border-top: 19px solid transparent;
            border-left: 13px solid $red;
            border-bottom: 19px solid transparent;
        }
    }
}
.submenu1{
    height: 16px;
}

.box-logo{
    li {
        display: table-cell;
        padding: 0;
        a {
          font-size: 16px;
          color: #ffffff;
          margin: 0 0 0 80px;
          line-height: 42px;
          &:hover {
            font-weight: bold;
            color: white;
          }
        }
        a.item_-active {
          font-weight: bold;
        }
        &:last-child {
          a {
            border-right: 0;
          }
        }
      }
      &:hover {
        display: block;
        }

}

.meto{
    font-size: 25px;
    display: block;
    font-family: $base-light !important;
}